@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: olivedrab;
    width: 100vw;

    * {
        font-family: 'Rubik', sans-serif;
    }
}