<div class="buttons">
  <button mat-icon-button>
    <mat-icon
      aria-hidden="false"
      aria-label="Example shopping_cart icon"
      fontIcon="shopping_cart"
    ></mat-icon>
  </button>
  <button mat-button>
    <mat-icon
      aria-hidden="false"
      aria-label="Example how_to_reg icon"
      fontIcon="how_to_reg"
    ></mat-icon
    >Sign In
  </button>
  <button mat-flat-button>
    <mat-icon
      aria-hidden="false"
      aria-label="Example vpn_key icon"
      fontIcon="vpn_key"
    ></mat-icon
    >Sign Up
  </button>
</div>
